@import 'responsive';

// colors
$purple: #3D344F;
$blue: #286EFA;
$pink: #D81159;
$dark-blue: #1F56C4;
$dark: #1D1D1D;

body {
    background: #F4F5F7;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: $dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// HEADER

.main-nav {
    background-color: $purple;
    a {
        color: #fff !important;
        &:hover,
        &:focus,
        &:active {
            color: $pink !important;
        }
    }
}

.page-enter-active, .page-leave-active {
    transition: opacity .2s
  }
.page-enter, .page-leave-active {
    opacity: 0
}


// MODULES

h1 {
    font-size: 24px;
    font-weight: 600;
}

a {
    color: $dark;
}

p {
    margin-bottom: 0;
}

.box {
    background: #FFFFFF;
    box-shadow: 0 5px 0 0 rgba(222,226,229,0.45);
    border-radius: 5px;
}

.button-shadow {
    background: #FFFFFF;
    border: 1px solid #E8E9EB;
    box-shadow: 0 4px 0 0 #E8E9EB;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    padding: 8px 16px;
    display: inline-flex;
    text-transform: capitalize;
    &.pink {
        color: $pink !important;
    }
}

// THEME

.step-container {
    padding: 24px;
    border-bottom: 1px dashed #E3E6E8;

    &:last-child {
        border-bottom: 0;
    }
}

.step-count {
    background: $blue;
    border: 1px solid $dark-blue;
    box-shadow: 0 4px 0 0 $dark-blue;
    border-radius: 5px;
    width: 33px;
    height: 29px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
}

.step-title {
    font-size: 16px;
    font-weight: 600;
}

.step-desc {
    color: rgba(17,16,38,0.70);

}


// THEME

.post-box {
    padding: 16px 24px;

    &-title {
        font-size: 16px;
        font-weight: 600;
    }

    &-count {
        color: $pink;        
    }
}

.share-button {
    font-size: 13px;
    border-radius: 5px;
    font-weight: 600;
    padding: 8px 20px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;

    svg {
        margin-right: 8px;
    }

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: #fff;
    }

    &.facebook {
        box-shadow: 0 4px 0 0 #2E477D;
        background: #39579A;
    }

    &.twitter {
        background: #69ACE0;
        box-shadow: 0 4px 0 0 #5A93BF;
    }

    &.whatsapp {
        background: #25D366;
        box-shadow: 0 4px 0 0 #21B557;
        // display: none;
    }
}

